.container-fluid {
  	padding-top: 20px;
}
.card {
  	margin-top: 5px;
  	margin-left: 15px;
}
.outer {
	background-color:lightgreen;
  	padding-top: 15px;
  	padding-bottom: 10px;
}
.title {
  	text-align: center;
  	font-weight:600;
}
#collapseOne, #collapseTwo {
  	padding:10px;
}
.card-body {
  	padding-top:0px;
  	padding-left:0;
}
.card-link, a:hover {
  	color:black;
}
.card-header {
  	background-color:lightgreen;
}
.modal-header {
  	background-color:lightgreen;
}
.modal-dialog {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	font-weight:600;
  	width: 75%;
  	text-align: left;
}
.add-main {
  	font-size:20px;
}
.add-modal {
  	font-size:16px;
}
input.recipe, input.ingredients {
  	width: 100%;
}
.btn {
  	margin-right:6px;
}
.footer {
  	margin-top: 20px;
  	margin-left: 15px;
}